[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pipenv-setup = "*"
flake8 = ">=3.9.2"
pytest = ">=6.2.4"
pre-commit = ">=2.14.1"
twine = "*"
mock = "*"

[requires]
python_version = "3.8.10"

[packages]
volttron-utils = ">=0.3.4"
grequests = "*"
